.navbar{
  margin-bottom: 0px;
}

.page-header{
  margin-top: 15px;
}

.page-header h1{
  font-size: 24px;
  margin: 0px;
}

.sf-chooser-container .member-avatar{
  border: 1px solid #ccc;
  padding: 2px;
}

footer {
  height: 50px;
}
  