.sc-chooser-container{
  overflow: auto;
}

.sc-chooser-container .sc-chooser-items{
  margin-bottom: 0px;
}

.sc-chooser-candidates,
.sc-chooser-controls,
.sc-chooser-choices{
  float: left;
}

.sc-chooser-candidates,
.sc-chooser-choices{
  width: 40%;
  border: 1px solid #ccc;
}

.sc-chooser-candidates .sc-chooser-items,
.sc-chooser-choices .sc-chooser-items{
  height: 250px;
  overflow-y: auto;
}

.sc-chooser-controls{
  width: 20%;
  
}

.sc-chooser-item.list-group-item{
  border: 0px;
  padding: 5px 10px;
  border-radius: 0px;
}

.sc-chooser-controls .btn{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.sc-chooser-controls .btn:first-child{
  margin-top: 0px;
}

.sc-chooser-filter{
  padding: 10px;
}