.sfchooser-container{
  overflow: auto;
}

.sfchooser-container .sfchooser-items{
  margin-bottom: 0px;
}

.sfchooser-candidates,
.sfchooser-controls,
.sfchooser-choices{
  float: left;
}

.sfchooser-candidates,
.sfchooser-choices{
  width: 45%;
  border: 1px solid #ccc;
}

.sfchooser-candidates .sfchooser-items,
.sfchooser-choices .sfchooser-items{
  height: 250px;
  overflow-y: auto;
}

.sfchooser-controls{
  width: 10%;
  
}

.sfchooser-item.list-group-item{
  border: 0px;
  padding: 5px 10px;
  border-radius: 0px;
}

.sfchooser-controls .btn{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.sfchooser-controls .btn:first-child{
  margin-top: 0px;
}

.sfchooser-filter{
  padding: 10px;
}