.sf-chooser-container{
  overflow: auto;
}

.sf-chooser-container .sf-chooser-items{
  margin-bottom: 0px;
}

.sf-chooser-candidates,
.sf-chooser-controls,
.sf-chooser-choices{
  float: left;
}

.sf-chooser-candidates,
.sf-chooser-choices{
  width: 45%;
  border: 1px solid #ccc;
}

.sf-chooser-candidates .sf-chooser-items,
.sf-chooser-choices .sf-chooser-items{
  height: 250px;
  overflow-y: auto;
}

.sf-chooser-controls{
  width: 10%;
  
}

.sf-chooser-item.list-group-item{
  border: 0px;
  padding: 5px 10px;
  border-radius: 0px;
}

.sf-chooser-controls .btn{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.sf-chooser-controls .btn:first-child{
  margin-top: 0px;
}

.sf-chooser-filter{
  padding: 10px;
}