<div class="sfchooser-container">
  <div class="sfchooser-candidates">
    <div class="input-group sfchooser-filter" ng-if="$ctrl.filterEnabled">
      <input type="text" class="form-control" 
             ng-model="$ctrl.candidatesFilter"
             ng-model-options="{ debounce: filterTimeout }">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
    </div>    
    <div class="list-group sfchooser-items">
      <a href=""      
         class="list-group-item sfchooser-item" 
         ng-repeat="item in $ctrl.getCandidates()
          | filter:($ctrl.candidatesFilter.length < $ctrl.filterMinLength) ? '' : $ctrl.candidatesFilter 
          track by item.id"
         ng-class="{'active': $ctrl.selectedCandidates[item.id]}"
         ng-click="$ctrl.candidateClick(item, $event)">             
        <ng-bind-html ng-if="!$ctrl.itemTemplateUrl" 
                      ng-bind-html="$ctrl.renderItem(item)">
        </ng-bind-html>
        <ng-include src="$ctrl.itemTemplateUrl"></ng-include>        
      </a>
    </div>
  </div>
  <div class="sfchooser-controls">
    <button type="button" 
            class="btn btn-default btn-move-right" 
            ng-click="$ctrl.chooseSelectedItems()"
            ng-disabled="$ctrl.model.length == $ctrl.items.length">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <button type="button" 
            class="btn btn-default btn-move-left"
            ng-click="$ctrl.unchooseSelectedItems()"
            ng-disabled="!$ctrl.model.length">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" 
            class="btn btn-default btn-move-right-all"
            ng-click="$ctrl.chooseAllItems()"
            ng-disabled="$ctrl.model.length == $ctrl.items.length">
      <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
    <button type="button" 
            class="btn btn-default btn-move-left-all"
            ng-click="$ctrl.unchooseAllItems()"
            ng-disabled="!$ctrl.model.length"
            >
      <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
  </div>
  <div class="sfchooser-choices">
    <div class="input-group sfchooser-filter" ng-if="$ctrl.filterEnabled">
      <input type="text" class="form-control" 
             ng-model="$ctrl.choicesFilter"
             ng-model-options="{ debounce: filterTimeout }">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
    </div>
    <div class="list-group sfchooser-items">
      <a href="" 
         class="list-group-item sfchooser-item" 
         ng-repeat="item in $ctrl.model 
         | filter:($ctrl.choicesFilter.length < $ctrl.filterMinLength) ? '' : $ctrl.choicesFilter 
         | orderBy:$ctrl.itemOrderBy track by item.id"
         ng-class="{'active': $ctrl.selectedChoices[item.id]}"
         ng-click="$ctrl.choiceClick(item, $event)">
        <ng-bind-html ng-if="!$ctrl.itemTemplateUrl" 
                      ng-bind-html="$ctrl.renderItem(item)">
        </ng-bind-html>
        <ng-include src="$ctrl.itemTemplateUrl"></ng-include>
      </a>
    </div>
  </div>
</div>